@import "bootstrap-sprockets";
@import "bootstrap";

//Vacancy & Employee Form skills
.glyphicon-remove-right:after {
  font-family: 'Glyphicons Halflings';
  content: "\e014";
}
.btn.btn-primary.glyphicon.glyphicon-remove-right {
  margin-top: 5px;
  margin-right: 5px;
}
