// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



//New Vacancy & New Employee
.glyphicon-remove-right:after {
  font-family: 'Glyphicons Halflings';
  content: "\e014";
}
.btn.btn-primary.glyphicon.glyphicon-remove-right {
  margin-top: 5px;
  margin-right: 5px;
}
