%nav.navbar
  .container
    .navbar-header
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to 'Вакансии', vacancies_path
        %li
          = link_to 'Работники', employees_path
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to 'Создать вакансию', new_vacancy_path
        %li
          = link_to 'Создать работника', new_employee_path
